@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

#product-list-search {
  text-align: center;
  margin-bottom: 3em;
}

#product-list-header {
  padding: 0;
  margin: 0;
  background-color: red;
}

#product-table {
  margin: auto;
  position: relative;
  width: 50%;
}

#product-table th {
  border-style: solid;
  border-color: green;
  border-width: 2px;
}

#product-table td {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: green;
  border-bottom-width: 2px;
}

#product-table td:nth-child(2) {
  width: 25%;
}

input[type="text"] {
  border-style: none;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-bottom-color: green;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

textarea:focus, input:focus, button:focus {
  outline: none;
}

#product-search-button {
  border-style: solid;
  border-radius: 1px;
  border-color: green;
  color: green;
  background-color: white;
  font-weight: bold;
  padding: 0.5em;
  border-width: 1px;
  transition: all 0.6s;
  margin-top: 0.5em;
}

#product-search-button:hover {
  background-color: green;
  color: white;
  border-color: green;
}

.product-image {
  width: 32%;
  height: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0;
  margin: 0;
}

#add-button {
  border-style: solid;
  border-radius: 2px;
  border-color: blue;
  color: blue;
  background-color: white;
  font-weight: bold;
  transition: all 0.6s;
  font-size: 1em;
  width: 2em;
}

#add-button:hover {
  color: white;
  background-color: blue;
  border-color: blue;
}

#shopping-button {
  float: right;
  background-color: white;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  width: 4.5em;
  height: 3em;
  margin-right: 1em;
  margin-top: -7em;
  filter: grayscale(100%);
  transition: all 0.6s;
  font-family: 'Roboto Condensed', sans-serif;
}

#shopping-button:hover {
  filter: grayscale(0%);
}

#shopping-link {
  position: relative;
  height: 3em;
  width: 3em;
}
