body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

#container-header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#header-image {
  width: 3em;
  height: 3em;
}

#action-buttons {
  text-align: center;
  margin-bottom: 2em;
}

#action-buttons button {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
  padding: 1em;
  transition: all 0.6s;
}

#checkout-button {
  color: blue;
  border-color: blue;
  margin-right: 0.5em;
}

#checkout-button:hover {
  background-color: blue;
  color: white;
  border-color: blue;
}

#return-button {
  color: red;
  border-color: red;
}

#return-button:hover {
  background-color: red;
  color: white;
  border-color: red;
}

#shopping-body {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

.cart-product {
  border-style: solid;
  border-width: 1.5px;
  border-color: grey;
  margin-bottom: 0.2em;
}

.product-image {
  width: 25%;
  height: 20%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0;
  margin: 0;
}

.cart-table {
  table-layout: fixed;
  width: 100%;
}

#remove-button {
  border-style: solid;
  border-radius: 2px;
  border-color: red;
  color: red;
  background-color: white;
  font-weight: bold;
  transition: all 0.6s;
  font-size: 1em;
  width: 2em;
}

#remove-button:hover {
  color: white;
  background-color: red;
  border-color: red;
}

#total-pay {
  text-align: right;
  width: 100%;
}
