@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  padding: 0;
}

#container-header {
  margin: 0;
  padding: 0;
  width: 100%;
}

#papa-john-logo {
  position: relative;
  margin: 0;
  padding: 0;
}

#header-left {
  position: relative;
  height: 100%;
  width: 30%;
  float: left;
}

#header-right {
  position: relative;
  height: 100%;
  width: 70%;
  display: inline-block;
}

#header-title {
  font-family: 'Roboto Condensed', sans-serif;
}

#header-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: green;
}

#container-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: green;
  position: absolute;
  left: 0;
  bottom: 0; 
}

@media only screen and (max-width: 767px) {
  /* phones */

  #container-header {
    height: 6em;
  }

  #papa-john-logo {
    width: 8em;
    height: 4em;
    margin-left: 1.5em;
    margin-top: -1em;
    padding: 0;
  }

  #header-title {
    margin-left: 2.1em;
    padding-top: 1em;
    font-size: 1.2em;
  }

  #header-bar {
    height: 1.5em;
  }

  #footer-bar {
    height: 2em;
  }

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */

  #papa-john-logo {
    width: 12em;
    height: 8em;
    margin-left: 2.5em;
    margin-top: -1em;
    padding: 0;
  }

  #header-title {
    padding-top: 1em;
    font-size: 1.6em;
  }

  #header-bar {
    height: 1.5em;
  }

  #footer-bar {
    height: 1.5em;
  }

  #search-products-button {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    color: green;
    border-color: green;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
  }

  #search-icon {
    width: 3em;
    height: 3em;
  }

}

