body {
  margin: 0;
  padding: 0;
}

#myBtn {
	visibility: hidden;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 40%; /* Full width */
	height: 40%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 4em;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}
  
@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
  
.modal-header {
	padding: 2px 16px;
	background-color: green;
	color: white;
}

.modal-body {
	padding: 2px 16px;
	text-align: center;
}
  
.modal-footer {
	padding: 2px 16px;
	background-color: green;
	color: white;
}

.modal-footer h4 {
	width: 100%;
}

#yes-button {
	background-color: white;
	border-style: solid;
	border-radius: 2px;
	color: blue;
	border-color: blue;
	border-width: 2px;
	width: 3em;
	margin-right: 0.5em;
	font-weight: bold;
	transition: all 0.6s;
}

#yes-button:hover {
	background-color: blue;
	color: white;
	border-color: blue;
}

#no-button {
	background-color: white;
	border-style: solid;
	border-radius: 2px;
	color: red;
	border-color: red;
	border-width: 2px;
	width: 3em;
	font-weight: bold;
	transition: all 0.6s;
}

#no-button:hover {
	background-color: red;
	color: white;
	border-color: red;
}